/* Card Lesson Styles */

.card-lesson {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-lesson:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.hashtag {
  transition: background-color 0.3s ease, color 0.3s ease;
  color: rgb(68, 68, 68);
  font-size: 12px;
}

.card-lesson:hover .hashtag {
  background-color: #0764ce !important;
  color: white !important;
}

/* Animation Background Styles */
.bg-custome {
  background: #f7adf7;
  background: radial-gradient(circle, rgba(247, 173, 247, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.no-bg,
.no-bg .list-group-item {
  background-color: transparent !important;
}

.bg-sidebar-custome {
  background: #EEAECA;
  background: linear-gradient(0, rgba(238, 174, 202, 1) 47%, rgba(148, 187, 233, 1) 100%);
}

/* Dotted pattern */
.dotted-pattern {
  background-image: radial-gradient(circle at 2px 2px, rgba(236, 72, 153, 0.1) 1px, transparent 0px);
  background-size: 20px 20px;
}

/* Radial glow */
.radial-glow {
  background: radial-gradient(100px at 522px 213px, rgba(236, 72, 153, 0.05), transparent 80%);
}


.hover-shadow {
  transition: all 0.5s ease;
}

.hover-shadow:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

/* Custom scrollbar styles */
.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Lesson Card Text Truncation */
.title-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  min-height: 1.8em;
}

.desc-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}


/* Custom styles for AccuracyResult component */
.border-custom {
  border-color: #e5e7eb !important;
}

.char-box-success {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #dcfce7;
}

.char-box-danger {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #fca5a1;
}

.char-box-secondary {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #e5e7eb;
}

.bg-light-organge {
  background-color: #fef3c7 !important;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0px;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #3F5EFB;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  border-radius: 3px;
}